html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000;
}

/*-------------------------- HEADER  --------------------------*/

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fafafa;
}

.header__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115px;
}

.header__logo-link {
    position: absolute;
    left: 0;
    margin: 0 80px;
    display: block;
}

.menu__list {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu__item {
   margin-left: 31px;
}
.menu__item:first-child {
   margin-left: 0;
}

.menu__list-link {
    color: #000;
    line-height: 22px;
    font-weight: 500;
    transition: all .2s;
}

.menu__list-link:hover {
   color: #F7941E;
}

.header__btn {
    position: absolute;
    right: 0;
    margin-right: 40px;
    padding: 13px 22px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: #F7941E;
    border: 1px solid #F7941E;
    border-radius: 5px;
    transition: all .3s;
}

.header__btn:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: #F7941E;
    border-radius: 5px;
}

.header__burger {
    display: none;
}

/*-------------------------- INTRO  --------------------------*/

.intro {
    background: #F1F1F2;
    padding-top: 115px;
}

.intro__inner-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro__content-top {
    max-width: 410px;
    margin: 0 auto;
}

.intro__title-top {
    font-size: 56px;
    line-height: 69px;
    padding-bottom: 36px;
}

.intro__text-top {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 55px;
}

.page__btn-top {
    padding: 18px 32px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: #F1F1F2;
    background-color: #F7941E;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all .3s;
}

.page__btn-top:hover {
    color: #F7941E;
    border: 1px solid #F7941E;
    background-color: #F1F1F2;
    border-radius: 5px;
}

.intro__inner-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro__content-bottom {
    max-width: 410px;
    margin: 0 auto;
}

.intro__title-bottom {
    font-size: 32px;
    line-height: 45px;
    font-weight: 500;
    padding-bottom: 20px;
}

.intro__text-bottom {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 40px;
}

.page__btn-bottom {
    padding: 18px 43px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: #F7941E;
    border: 1px solid #F7941E;
    border-radius: 5px;
    transition: all .3s;
}

.page__btn-bottom:hover {
    color: #F1F1F2;
    border: 1px solid #F1F1F2;
    background-color: #F7941E;
    border-radius: 5px;
}

/*-------------------------- POSTS  --------------------------*/

.posts {
    padding: 100px 0 140px 0;
}

.posts__title {
    font-size: 32px;
    line-height: 38px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 23px;
}

.posts_text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 65px;
}

.posts__card {
    display: flex;
    justify-content: center;
}

.card__item {
    height: 440px;
    margin: 0 15px;
    background: #FAFAFA;
    transition: all .2s;
}

.card__item:hover {
    background: #fff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.card__img {
    padding-bottom: 10px;
}

.card__title {
    margin: 0 24px;
    padding-bottom: 70px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.card__btn {
    margin: 0 24px;
    font-size: 14px;
    line-height: 19px;
    color: #000;
    font-weight: 500;
    transition: all .2s;
}

.card__btn:hover {
    color: #F7941E;
}

/*-------------------------- ACTION  --------------------------*/

.action {
    background: #F7941E;
    padding: 100px 0;
}

.action__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action__title {
    font-size: 32px;
    line-height: 45px;
    font-weight: 700;
}

.action__subtitle {
    font-size: 32px;
    line-height: 45px;
    font-weight: 500;
}

.action__btn {
    padding: 15px 40px;
    margin-right: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
    background-color: #231F20;
    border: 1px solid #231F20;
    border-radius: 5px;
    transition: all .3s;
}

.action__btn:hover {
    color: #231F20;
    border: 1px solid #231F20;
    background-color: #F7941E;
    border-radius: 5px;
}

.action__btn:last-child {
    margin-right: 0;
}


/*-------------------------- BLOG  --------------------------*/

.blog {
    padding: 65px 0 40px 0;
}

.blog__title {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    padding-bottom: 25px;
}

.blog__text {
    line-height: 24px;
    text-align: center;
    padding-bottom: 70px;
}

.blog__card {
    background: #231F20;
    max-width: 1170px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}

.blog__card__content {
    padding: 65px 0 65px 80px;
}

.blog__card-author {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    padding-bottom: 25px;
}

.blog__card-title {
    font-size: 48px;
    line-height: 57px;
    color: #fff;
    max-width: 500px;
    padding-bottom: 60px;
}

.blog__card-btn {
    line-height: 25px;
    color: #fff;
    transition: all .2s;
}

.blog__card-btn:hover {
    color: #F7941E;
}

/*-------------------------- OFFER  --------------------------*/

.offer {
    padding-bottom: 80px;
}

.offer__inner {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.offer__card {
    padding: 48px;
    width: 570px;
    height: 290px;
    transition: all .2s;
}

.offer__card:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.offer__card-title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    padding-bottom: 15px;
}

.offer__card-text {
    line-height: 25px;
    padding-bottom: 15px;
}

.offer__card-btn {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #000;
    transition: all .2s;
}

.offer__card-btn:hover {
    color: #F7941E;
}

/*-------------------------- OFFER  --------------------------*/

.footer {
    background: #FAFAFA;
}

.footer__inner {
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.footer__nav-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #000;
    margin: 0 40px;
    transition: all .2s;
}

.footer__nav-link:hover {
    color: #F7941E;
}

.footer__nav-logo {
    margin: 0 60px;
}

.footer__line {
    height: 1px;
    max-width: 1000px;
    background: #000;
    margin-bottom: 55px;
}

.social__list {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}


/*-------------------------- Адаптив  --------------------------*/

@media (max-width: 1240px) {

    .intro__img-top, .intro__img-bottom{
        width: 50%
    }
    .posts__card {
        flex-wrap: wrap;
    }
    .card__item {
        margin: 10px;
    }
}

@media (max-width: 1000px) {

    .intro{
        padding-top: 120px;
        padding-bottom: 20px;
    }
    .intro__inner-top{
        display: flex;
        flex-direction: column;
    }
    .intro__content-top, .intro__content-bottom{
        margin-bottom: 40px;
    }
    .intro__inner-bottom{
        display: flex;
        flex-direction: column;
    }
    .intro__img-bottom {
        order: 2;
    }
    .action__inner{
        flex-direction: column;
    }
    .action__text{
        padding-bottom: 30px;
    }
    .blog__card{
        flex-direction: column;
        max-width: 500px;
    }
    .offer__inner{
        flex-direction: column;
        align-items: center;
    }
    .offer{
        padding: 40px 0;
    }
    .blog{
        padding: 30px 0 20px 0;
    }
    .action{
        padding: 50px 0;
    }
    .posts{
        padding: 50px 0 70px 0;
    }
}

@media (max-width: 830px) {
    .intro {
        padding-top: 60px;
    }
    .header__menu{
        order: 1;
    }
    .menu__list{
        display: block;
        position: fixed;
        top: 60px;
        left: 0;
        background-color: #FAFAFA;
        right: 0;
        width: 100%;
        text-align: center;
        transform: translateY(-300px);
        transition: all .5s;
    }
    .menu__list.menu__list--active{
        transform: translateY(0);
    }
    .menu__item{
        margin: 20px 0;
    }
    .header__inner {
        height: 60px;
    }

    .header__btn {
        position: relative;
        margin-right: 0;
        padding: 10px 14px;
        line-height: 11px;
        font-weight: 500;
        text-transform: uppercase;
        color: #F7941E;
        border: 1px solid #F7941E;
        border-radius: 5px;
        transition: all .3s;
    }
    .header__btn:hover {
        color: #fff;
        border: 1px solid #fff;
        background-color: #F7941E;
        border-radius: 5px;
    }
    .header__logo-link {
        margin: 0 40px;
    }
    .header__burger{
        display: block;
        position: absolute;
        width: 30px;
        height: 20px;
        border: none;
        background-color: #fff;
        right: 0;
        bottom: 20px;
    }
    .header__burger span{
        content: '';
        position: absolute;
        background-color: #F7941E;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px
    }

    .header__burger:before,
    .header__burger:after{
        content: '';
        position: absolute;
        background-color: #F7941E;
        width: 100%;
        height: 2px;
        right: 0;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
}

@media (max-width: 780px) {
    .footer__nav{
        display: none;
    }
    .footer__inner {
        height: 270px;
    }
}

@media (max-width: 630px) {
    .offer__card{
        padding: 15px;
        width: 320px;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .intro {
        padding-top: 100px;
    }

    .action__button{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .action__btn {
        margin: 5px auto;
    }
    .action__text {
        text-align: center;
    }
    .blog__card__content {
        padding: 30px 0 30px 40px;
    }
    .header__logo-link{
        position: absolute;
        left: 0;
        margin: 0;
        display: block;
    }
    .intro__title-top{
        font-size: 28px;
        line-height: 35px;
        padding-bottom: 18px;
    }
    .intro__text-top {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 30px;
    }
    .page__btn-top {
        padding: 9px 16px;
        line-height: 11px;
        font-weight: 500;
        text-transform: uppercase;
        color: #F1F1F2;
        background-color: #F7941E;
        border: 1px solid #fff;
        border-radius: 5px;
        transition: all .3s;
    }
    .intro__img-top{
        padding-bottom: 20px;
    }
    .intro__title-bottom{
        font-size: 28px;
        line-height: 35px;
        padding-bottom: 18px;
    }
    .intro__text-bottom {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 30px;
    }
    .page__btn-bottom {
        padding: 9px 21px;
        line-height: 11px;
        font-weight: 500;
        text-transform: uppercase;
        color: #F7941E;
        border: 1px solid #F7941E;
        border-radius: 5px;
        transition: all .3s;
    }
    .posts_text{
        padding-bottom: 30px;
    }
    .blog__text{
        padding-bottom: 35px;
    }
    .social__list{
        padding-bottom: 30px;
    }
    .footer__line{
        margin-bottom: 25px;
    }
    .footer__inner {
        height: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}







